---
import Layout from '../layouts/Layout.astro';
import Game from '../components/Game.astro';
---

<Layout title="Song of the Year">
	<main class="container mx-auto px-4 py-8">
		<h1 class="text-3xl lg:text-6xl font-black text-center mt-4 mb-10 lg:mt-16 lg:mb-20 title">
			<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary">Song of the Year</span>
		</h1>
		<Game />
	</main>
</Layout>